# Database
POSTGRES_DB=sigap_ub
POSTGRES_USER=sigap_user
POSTGRES_PASSWORD=sigap_password
DATABASE_URL=postgresql://sigap_user:sigap_password@db:5432/sigap_ub

# Redis
REDIS_URL=redis://redis:6379

# JWT
JWT_SECRET=ganti-dengan-secret-key-minimum-32-karakter
JWT_EXPIRES_IN=7d

# App
NODE_ENV=development
PORT=3001
FRONTEND_URL=http://localhost:3000
